.container {
  display: flex;
  height: 100%;
}

.label {
  display: flex;
  background-color: #919191;
  height: 100%;
  width: 15%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: 'Bellota Text', cursive;
}

.selection-area {
  display: flex;
  background-color: #b8b8b8;
  height: 100%;
  width: 85%;
  padding-left: 27px;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  font-family: 'Bellota Text', cursive;
}